body {
  font-size: 28px;
  margin: 0;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.circle-container {
  position: relative;
  width: 1000px;
  height: 1000px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.inner-circle{
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
}

.circle-container.slide {
  animation-name: slide-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(400px);
  }
}

.circle-container.slide::after {
  animation-name: slide-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide-out {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
  }
}

